{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="w-50 m-auto">
    <h1>Contact</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Send message</button>
    {{ form_end(form) }}
</section>
{% endblock %}
